# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */__init__.py,
    *manage.py,
    *settings*.py,
    *urls.py,
    *admin.py,
    *migrations/*,
    *tests/*,
    *test_*.py,
    *tests.py
    *wsgi.py,
    *conftest.py,
    */extra*,
    *choices.py,
    *tasks.py,
    *apps.py,
    core/urls/*,
    core/tests/*,
    *paginations.py

[report]
show_missing = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
